# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker volumes (created at runtime)
volumes/

# Spark
spark/jars/*.jar
metastore_db/
derby.log

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Great Expectations
great_expectations/uncommitted/
great_expectations/checkpoints/

# MLflow
mlruns/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Misc
*.log
*.tmp
