# Virtual environment
venv/
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# FAISS index & pickled data
*.faiss
*.pkl

# Logs
*.log

# Recordings & large files
*.mp4

# OS files
.DS_Store
Thumbs.db